<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>MUSIC LIBRARY</title>
</head>

<body class="bg-dark">
    <!--NAVIGATION BAR-->
    <nav class="navbar navbar-light navbar-default" role="navigation"
        style="background-color: black; position:fixed; width:100%;margin-top:-52px;z-index:777;">
        <h3 class="navbar-brand navbar-left text-white">
            <img src="../static/logo.png" class="float-left" width="70" height="70" alt="">
        </h3>
        <h1 class="navbar-nax mx-auto"
            style="color:white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bold;">
            MUSIC LIBRARY DATABASE </h1>
        <h5 class="text-white" style="text-transform: uppercase;">WELCOME {{ user }}</h5>
    </nav>

    <!--PARAGRAPH-->
    <div class="mt-5" style="padding-top:90px;">
        <h3 class="text-center text-white" style="letter-spacing: 2px;font-weight:bold;text-transform:uppercase;">
            {{ page }}</h3>
        <h5 class=" text-center text-white"
            style="letter-spacing: 2px;font-weight:bold;margin-top:2%;margin-bottom:-2%;text-transform:uppercase;">TOTAL
            {{ page }}:
            {{ no_of_singers[0][0] }}
        </h5>
    </div>

    <!--LINKS CONTAINER-->
    <div class="container-fluid mt-5">
        <div class="row justify-content">
            <div class="col-sm-2" style="position: fixed; z-index:777;">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="{{ url_for('user_index')}}"
                        style="font-size:20px;text-align:left;font-weight:bold;">SONGS</a>
                    <a class="list-group-item list-group-item-action" href="{{ url_for('user_singer') }}"
                        style="font-size:20px;text-align:left;font-weight:bold;">SINGER</a>
                    <a class="list-group-item list-group-item-action" href="{{ url_for('user_albums') }}"
                        style="font-size:20px;text-align:left;font-weight:bold;">ALBUMS</a>
                    <a class="list-group-item list-group-item-action" href="{{ url_for('user_playlist') }}"
                        style="font-size:20px;text-align:left;font-weight:bold;">PLAYLIST</a>
                    <a class="list-group-item list-group-item-action" href="{{ url_for('user_playlist_add') }}"
                        style="font-size:20px;text-align:left;font-weight:bold;">ADD PLAYLIST</a>
                    <a class="list-group-item list-group-item-action" href="{{ url_for('user_playlist_delete') }}"
                        style="font-size:20px;text-align:left;font-weight:bold;">DELETE PLAYLIST</a>
                    <a class="list-group-item list-group-item-action" href="{{ url_for('user_edit') }}"
                        style="font-size:20px;text-align:left;font-weight:bold;">EDIT PLAYLIST</a>
                    <a class="list-group-item list-group-item-action" href="{{ url_for('index_login') }}"
                        style="font-size:20px;text-align:left;font-weight:bold;">LOGOUT</a>
                </div>
            </div>
            <div class="col-9" style="margin-left:300px;">
                <div class="list-group">
                    {% for songs in singers %}
                    <a class="list-group-item list-group-item-action my-1 rounded" id="{{ songs[0] }}"
                        href="{{ url_for('user_albums_songs') }}?name={{songs[0]}}">
                        <h3 style="font-weight: bold;text-transform:uppercase;">{{ songs[0] }}</h3>
                        <p class="my-1" style="text-transform: uppercase;">NO. OF SONGS: {{ songs[1] }}</p>
                        <p class="my-1" style="text-transform: uppercase;">AVG RATING: {{ songs[2] }}</p>
                        <p class="my-1" style="text-transform: uppercase;">AVG DURATION: {{ songs[3] }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT FILE -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

</body>

</html>